.card {
  width: 640px;
  height: 275px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px #00000012;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardImage {
  width: 275px;
  height: 275px;
  border-radius: 10px;
  overflow: hidden;
}
.cardImage img {
  width: 100%;
}
.cardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 30px;
  text-align: justify;
}
.cardTitle {
  font-size: 28px;
  font-weight: 500;
}
.cardDescription {
  font-size: 16px;
  color: #6e6d6d;
}
