.banner {
  background-image: linear-gradient(
      0deg,
      rgba(14, 10, 12, 0.795),
      rgba(14, 10, 12, 0.795)
    ),
    url("../Components/Assets/header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 359px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h2 {
  font-size: 42px;
  color: white;
}
.banner p {
  font-size: 40px;
  color: #f16214;
  font-family: Imperial Script;
}
.menuWrapper {
  scroll-behavior: smooth;
}
.menuContainer {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  margin: 80px auto;
}

.menuContainer li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.menuContainer li:hover a {
  color: #f16214;
}

.items {
  padding: 0 50px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.itemSection {
  max-width: 100vw;
  height: 1682px;
  background-image: linear-gradient(
      0deg,
      rgba(14, 10, 12, 0.795),
      rgba(14, 10, 12, 0.795)
    ),
    url("../Components/Assets/Bbreakfast.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}
.itemHeader {
  text-align: center;
  margin-bottom: 40px;
}
.itemHeaderTitle {
  color: #f16214;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

.lunchSection {
  max-width: 100vw;
  height: 1682px;
  background-image: linear-gradient(
      0deg,
      rgba(248, 246, 247, 0.884),
      rgba(248, 246, 247, 0.884)
    ),
    url("../Components/Assets/Bbreakfast.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50px 0;
}
.lunchHeader {
  text-align: center;
  margin-bottom: 40px;
}
.lunchHeaderTitle {
  color: #0d0c0c;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  margin: 0;
}
.itemViewBtn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
